body{
  background: #272525;
  color: white;
}

button {
  padding: 10px 14px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 6px;
  margin: 6px;
  border: 1px solid rgba(212, 210, 210, 0.665);
  width: 100px;
  cursor: pointer;
  background-color: #363333; /* blue */
  color: #ffffff;
  transition: background-color 0.2s ease, transform 0.1s ease;
}

button:hover {
  background-color: #242020;
}

.form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  height: fit-content;
  width: 400px;
  padding: 10px;
  background: #302f2f;
  border-radius: 10px;
  transition: all .5s ease-in-out;
}

.form:hover{
  box-shadow: 1px 1px 10px 1px rgba(255, 255, 255, 0.18);
}

input{
  width: 300px;
  padding: 4px;
  border-radius: 5px;
}

